<div class="container-fluid background">

  <div class="row super-footer">
    <div class="col-6">
      <div class="row super-left">
        <div class="col-xs-12 col-md-6" style="padding-right: 30px">
          <img src="../../../assets/SDBClogo white.png" style="padding-bottom: 20px">
          <p>
            Providing guidance that will turn your ideas into an enteprise.
          </p>
        </div>
        <div class="col-xs-12 col-md-6">
          <h5>CONTACT US</h5>
          <p>
            <a href="https://www.google.com/maps/dir/?api=1&destination=4031+University+Drive%2C+Fairfax%2C+VA+22030">4031 University Drive<br>
            Fairfax, VA 22030<br><br></a>
            <a href="mailto:help@masonsbdc.org">help@masonsbdc.org</a><br><br>
            <a href="tel:+7032777747">(703) 277-7747</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 super-right">
      <h5>STAY IN TOUCH</h5>
      <p>
        Sign up to get interesting news and updates delivered to your inbox.
      </p>
      <app-email-form></app-email-form>
    </div>
  </div>

  <div class="row sub-footer justify-content-between align-items-center">
    <div class="col-3">
      <a href="https://www.facebook.com/masonsbdc/"><fa name="facebook-f" size="2x"></fa></a>
      <a href="https://twitter.com/masonsbdc"><fa name="twitter" size="2x"></fa></a>
      <a href="https://plus.google.com/111679442190152057143"><fa name="google-plus" size="2x"></fa></a>
      <a href="https://www.linkedin.com/company/mason-sbdc"><fa name="linkedin" size="2x"></fa></a>
      <a href="https://www.instagram.com/masonsbdc/"><fa name="instagram" size="2x"></fa></a>
    </div>
    <div class="col-3" style="text-align: right">
      <p class="copyright">
        &copy; 2018: Mason SBDC. All rights reserved.
        Developed by Mittal Solutions.
      </p>
    </div>
  </div>

</div>
