.background {
  background-color: #4b87b9;
  padding: 60px 100px 25px 100px;
  color: white;
  font-size: 14px;
  min-height: 430px;
}

.super-footer {
  border-bottom: 1px solid white;
}

.super-left {
  border-right: 1px solid white;
  padding: 60px 40px 30px 30px;
}

.super-right {
  padding: 60px 30px 30px 100px;
}

.sub-footer {
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 12pt;
}


.copyright {
  font-size: 10pt;
}

h5 {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 600;
  font-size: 16pt;
}

fa {
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .super-footer {
    border-bottom: none;
  }

  .super-right {
    padding: 100px 5px 5px 5px;
  }

  .super-left {
    border-right: none;
  }

  .background {
    padding: 10px 10px 10px 10px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
}
