<div class="container-fluid background">
  <div class="row nav-row">
    <div class="col-2">
      <img src="../../../assets/MasonSDBC logo.png" style="padding-left: 40px">
    </div>
    <div class="col-8 topnav d-flex justify-content-center align-self-center" id="topNav">
        <div class="dropdown">
          <button class="dropbtn">ABOUT US
            <fa name="caret-down"></fa>
          </button>
          <div class="dropdown-content">
            <a routerLink="aboutUs">WHO WE ARE</a>
            <a routerLink="aboutUs">THE TEAM</a>
            <a routerLink="aboutUs">SPONSORS</a>
            <a routerLink="aboutUs">PARTNERS</a>
          </div>
        </div>
        <a routerLink="services">SERVICES</a>
        <a routerLink="resources">RESOURCES</a>
        <a routerLink="contactUs">CONTACT US</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <div class="col-2 login-box text-center align-self-center">
      <button id="registerButton" type="button">REGISTER</button>
    </div>
  </div>
</div>
