<div class="container-fluid background">
  <div class="row nav-row">
    <div class="col-3">
      Icon Here
    </div>
    <div class="col-6">
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container top-nav collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav" routerLinkActive="active">
            <li class="toplink" style="color: blue"><a class="nav-link" routerLink="aboutUs">ABOUT US</a></li>
            <li class="toplink"><a class="nav-link" routerLink="services">SERVICES</a></li>
            <li class="toplink"><a class="nav-link" routerLink="resources">RESOURCES</a></li>
            <li class="toplink"><a class="nav-link" routerLink="contactUs">CONTACT US</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-3 login-box text-center align-self-center">
      <button id="registerButton" type="button">REGISTER</button>
    </div>
  </div>
</div>
