.background {
  font-family: "Open Sans", sans-serif;
  /*font-family: "Montserrat", sans-serif;*/
  font-weight: bolder;
  min-height: 140px;
  background-color: #f2f2f2;
}

.topnav {
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  color: greenyellow;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #808080;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #808080;
  color: white;
}

.dropdown-content a:hover {
  background-color: #70ba6f;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.nav-row {
  padding-top: 15px;
}

.login-box {
  display: table;
}

.nav-item {
  color: #323232 !important;
}

#registerButton {
  color: white;
  background-color: #6ec06c;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  border: none;
  display: inline-block;
}
