<div class="jumbotron background">
	
	<div class="heading">
		<h1 class="col"><strong>Mason</strong></h1>
		<h2 class="col">Small Business Development Center</h2>
	</div>
 	<br>
    <p class="col content">Providing guidance that will turn your ideas into an enterprise.<br> Serving Northern Virginia's small business through FREE counseling.
    </p>
	<br>
    <p class="lead">
        <a class="btn btn-lg" href="#" role="button">
			<div style="font-size: 10px;">LEARN MORE</div></a>
    </p>
	<div class="getStarted row">
		<div class="contentBox col-sm-8">
			<h4 class="getStartedContent"><strong>GET STARTED!</strong></h4>

			<p>Get in touch with our professionals today! <br>
				Schedule a FREE Consultation!
			</p>	
		</div>
		<div class="buttonReq">
		<a class="btn btn-lg reqServices" href="#" role="button">
			<div style="font-size: 10px;">REQUEST SERVICES</div></a>
		</div>
	</div>
</div>
