<div class="container">
	<div class="about" id="about">
		<div class="aboutBlock">
			<div class = "aboutTitle" >
				<h3 class="titleText"> <strong class="txt"> ABOUT US</strong></h3>
			</div>
			<br>
			<div class="aboutDecription"> 
				<br>
				<p id="aboutText">
					Mason SBDC (Mason Small Business Development Center) provides counseling services at no costs thanks to our sponsors, U.S. SBA, Gorge Mason University and Virginia SBDC, to local entrepreneurs in Fairfax, Arlington, and Prince William Counties. Our core counseling areas are business planning, marketing, and finance.
					</p>
			</div>
		</div>
	</div>
</div>