<div class="container-fluid background">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-lg-6">
      <div class="heading">
        <div class="heading-border">
          <h2>WHAT WE OFFER</h2>
        </div>
      </div>
      <div class="card" style="background-image: url('/../../../../assets/start_blue.png'); background-size: cover; float: right">
        <div class="overlay">
          <fa name="handshake-o"></fa>
          <br>
          <h4>START YOUR BUSINESS</h4>
        </div>
        <div class="content">
          <h4>START YOUR BUSINESS</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
          <button type="button">LEARN MORE</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="card small-card" style="background-image: url('/../../../../assets/grow_green.png'); background-size: cover">
        <div class="overlay">
          <fa name="bar-chart"></fa>
          <br>
          <h4>GROW YOUR BUSINESS</h4>
        </div>
        <div class="content">
          <h4>GROW YOUR BUSINESS</h4>
          <p>
            Text
          </p>
          <button type="button">LEARN MORE</button>
        </div>
      </div>
      <div class="card small-card" style="background-image: url('/../../../../assets/resources_blue.png'); background-size: cover">
        <div class="overlay">
          <fa name="copy"></fa>
          <h4>RESOURCES</h4>
        </div>
        <div class="content">

          <h4>RESOURCES</h4>
          <p>
            Text
          </p>
          <button type="button">LEARN MORE</button>
        </div>
      </div>
    </div>
  </div>
</div>
