<div class="caroselWrapper" id="caroselWrapper">
	<div class="testimonials row">
		<div class="col-sm-4 testimonial_img"></div>
		<div class="col-sm-8 testimonialContent" >
			<div class="titleText"> 
				<strong>WHAT OUR CLIENTS SAY ABOUT US</strong>
			</div>
			<br><br>
			<div class="row">
				<div class="carouselBlock col-sm-10">
					<div >
						<strong class="clientName">Dana Grizzle, Command Post Technologies, Inc. (December 2017)</strong>
						<br><br>
						<p>" I’ve been managing proposals and creating/administrating SharePoint libraries for over 10 years, but I learned more efficient and effective ways to manage my proposal library. The information was presented professionally and timely. The instructor was engaging and stopped after each major section to take questions. By far the best webinar I’ve attended in a while. "</p>
					</div>	

				</div>
				<div class="col-sm-2 arrows">

					<p><i class="arrow up"></i></p>
					<br>
					<p><i class="arrow down"></i></p>
		
				</div>
			</div>
		</div>
	</div>	
</div>