/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

h1 {
  font-family: "Montserrat Bold", "Times New Roman", sans-serif;
  font-weight: normal;
  font-size: 70px;
}

h2 {
  font-family: "Montserrat SemiBold", "Times New Roman", sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h3 {
  font-family: "Montserrat Bold", "Times New Roman", sans-serif;
  font-weight: normal;
  font-size: 21px;
}

h4 {
  font-family: "Open Sans Regular", "Times New Roman", sans-serif;
  font-weight: normal;
  font-size: 21px;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
}

